@import '../../root-setup.css';

.articles-list {
    max-width: 900px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.articles-list .article-image {
    width: 100px;
    height: 100px;
    flex: 0 0 100px;
}

.articles-list .article-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.articles-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.articles-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px
}

.articles-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid var(--bg);
    background: none;
    margin-top: 10px;
    color: var(--bg);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.articles-list article a:hover {
    background:var(--bg);
    color: #fff
}

.articles-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

.articles-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background:var(--bg);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s;
    cursor: pointer
}

.articles-list .actions button:disabled {
    opacity: 0.5;
    cursor: default;
}

.articles-list .actions button:hover:not([disabled]) {
    opacity: 0.7;
}

.actions {
    display: flex;
    align-items: center;
}

.information-box {
    margin-bottom: 10px;
}